.highlight pre code {
  color: #fffafa;
  background: none;
  line-height: auto;
  height: auto;
  padding: 0;
  border: 0;
}

.highlight pre {
  background: #333333;
  white-space: pre-wrap;
  padding: 20px;
}
