code {
  font-family: "Monaco", "Droid Sans Mono", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 14px;
  background: #fdfdfd;
  border-radius: 3px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #eee;
}

pre code {
  background: none;
  line-height: auto;
  height: auto;
  padding: 0;
  border: 0;
}

pre {
  color: #fffafa;
  background: #333333;
  white-space: pre-wrap;
  padding: 20px;
}